# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/

# Frontend (Já deixando pronto)
node_modules/
.next/
dist/
build/backend/env.md
backend/env.md
