services:
  - type: web
    name: safetasks-backend
    env: docker
    region: oregon
    plan: free
    rootDir: backend
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: PROJECT_NAME
        value: "SafeTasks V3"
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: "11520"
